body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  color: black;
  text-decoration-line: none;
  cursor: pointer;
  font-style: normal;
  padding: 24px 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
